body {
  font-family: Roboto;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;

  &:hover {
    text-decoration: underline;
  }
}

input {
  border: 1px solid #eee;
  padding: 10px;
  font-size: 15px;
  width: 90%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block; }

.Header {
  background-color: white;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  padding: 8px 30px;

  h1 {
    font-size: 20px;
    font-weight: 400;
    float: left;
  }

  nav {
    float: right;
    padding-top: 17px;
  
    a {
      padding-right: 14px;
    }
  }
}

.Content {
  padding: 20px 0;
}

.Form {
  border-radius: 5px 5px 5px 5px;
  background: #fbfbfb;
  padding: 15px 10px;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  text-align: center;
  margin: 14% auto;

  .Form__item {
    margin-bottom: 15px;
  }

  .Form__btn {
    border: 0;
    background: #515680;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    color: white;
    width: 90%;
    font-size: 17px;
  }

  .Form__error {
    color: darkred;
    margin-bottom: 15px;
  }

  h1 {
    color: #555;
    margin: 0 0 17px 0;
    padding: 0;
    font-weight: 400;
    font-size: 25px;
  }
}

.Posts {
  padding-left: 8px;
  margin: 10px 0 60px 0;
}

.Post {
  margin: 0 auto;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #eee;

  h4 { margin: 0; }
  .created { color: #888; }
  small { font-size: 12.5px; }

  .dismiss {
    position: absolute;
    right: 20px;

    svg {
      color: #888;
      font-size: 13px;
    }
  }
}

footer {
  background: #333;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #ccc;
}
