<!DOCTYPE html>
<html>
  <head>
    <title>Reddit Client</title>

    <meta name=viewport content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
